.form {
  background-image: linear-gradient(to right, #102654 50%, #ffffff 50%);
  position: relative;

  &::after {
    @include pseudo;

    width: 50%;
    top: 0;
    left: 50%;
    height: 1px;
    background-color: #74819c;
  }
}

.form__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.form__wrapper {
  background-color: #102654;
  padding-right: 103px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.form .form__title {
  color: #ffffff;
  padding: 0;
  margin-top: 0;
  margin-bottom: 30px;
}

.form__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 36px;
}

.form__input {
  border: 1px solid transparent;
  border-bottom-color: #74819c;
  background-color: transparent;
  font-size: 14px;
  line-height: 22px;
  font-family: $main-font;
  font-weight: 400;
  color: #ffffff;
  outline: none;
  padding: 0;
  height: 32px;
  width: 100%;

  &::placeholder {
    color: #ffffff;
    opacity: 0.4;
  }

  &:hover {
    border-bottom-color: #ffffff;
  }

  &:focus-visible {
    border-color: #ffffff;
  }

  &:disabled {
    border-bottom-color: #ffffff;
    opacity: 0.3;
  }
}

.form__label {
  .form__input-error {
    border-bottom-color: #ff121f;
  }
}

.form__btn {
  width: 100%;
}

.form__error-message {
  display: block;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #ff121f;
}

@media (max-width: $tablet-width) {
  .form__container {
    display: block;
    padding: 0;
  }

  .form {
    background-image: none;
  }

  .form__wrapper {
    padding: 60px 164px;
  }

  .form .form__title {
    font-size: 54px;
    line-height: 54px;
    text-align: center;
  }
}

@media (max-width: $mobile-width) {
  .form__wrapper {
    padding: 70px 15px;
  }

  .form .form__title {
    font-size: 32px;
    line-height: 32px;
    text-align: left;
  }

  .form__inner {
    display: block;
  }

  .form__label {
    display: block;
    margin-bottom: 32px;
  }

  .form__btn {
    padding: 22px;
  }
}
