.juri__btn {
  display: block;
  position: absolute;
  padding: 0;
  background: transparent;
  border: 1px solid transparent;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: calc(50% - 3px);
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;

  &::before {
    @include pseudo;

    width: 16px;
    height: 32px;
    top: 8px;
    left: 15px;
    mask-image: url("/__spritemap#sprite-arrow");
    background-color: #102654;
    mask-repeat: no-repeat;
  }

  &--prev {
    left: -69px;
  }

  &:hover {
    border-color: #102654;
  }

  &:focus-visible {
    border-color: #102654;
    background-color: #e8e8e8;
    outline: none;
  }

  &:active {
    background-color: #102654;
    border-color: #102654;

    &::before {
      background-color: #ffffff;
    }
  }

  &:disabled {
    background-color: transparent;
    border-color: transparent;

    &::before {
      background-color: rgba(16, 38, 84, 0.3);
    }
  }
}

.juri__btn--next {
  right: -71px;

  &::before {
    transform: rotate(180deg);
    left: 17px;
  }
}

.juri__btn.swiper-button-disabled {
  background-color: transparent;
  border-color: transparent;

  &::before {
    background-color: rgba(16, 38, 84, 0.3);
  }
}

.juri__slider-wrapper {
  height: auto;
}

.juri__slider {
  position: relative;
}

.juri__container {
  padding-left: 80px;
  padding-right: 80px;
  max-width: 1320px;
}

.juri__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 46px;
}

.juri {
  padding-top: 100px;
  padding-bottom: 100px;
}

@media (max-width: $tablet-width) {
  .juri {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .juri__container {
    padding-right: 104px;
    padding-left: 104px;
  }

  .juri .juri__title {
    font-size: 54px;
    line-height: 54px;
  }

  .juri__btn {
    top: calc(50% - 1px);

    &--next {
      right: -54px;
    }

    &--prev {
      left: -54;
    }
  }
}

@media (max-width: $mobile-width) {
  .juri {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .juri .juri__title {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 20px;
  }

  .juri__btn {
    display: none;
  }

  .juri__container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
